---
import SEO from '../components/SEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { titulo, descripcion } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SEO titulo_pagina={titulo} descripcion_pagina={descripcion} />
  </head>
  <body>
    <Header />
    
    <main class="container" style="min-height: 80vh; padding: 6rem 0;">
      <slot />
    </main>

    <Footer />
  </body>
</html>
